[tool.bumpversion]
current_version = "0.12.1"
commit = true
message = "chore(release): {new_version}"
pre_commit_hooks = ["git switch -c release/%BVHOOK_NEW_VERSION%"]

[[tool.bumpversion.files]]
filename = "pubspec.yaml"
search = "version: {current_version}"
replace = "version: {new_version}"

[[tool.bumpversion.files]]
filename = "CHANGELOG.md"
search = "## [Unreleased]"
replace = "## [Unreleased]\n\n## [{new_version}] - {now:%Y-%m-%d}"

[[tool.bumpversion.files]]
filename = "CHANGELOG.md"
regex = true
search = "\\[Unreleased\\]: (https://.+?)v{current_version}\\.\\.\\.HEAD"
replace = "[Unreleased]: \\1v{new_version}...HEAD\n[{new_version}]: \\1v{current_version}...v{new_version}"
